body {
    background:linear-gradient(94.3deg,
            rgba(104, 213, 253, 0.63) 0.9%,
            rgba(169, 236, 91, 0.79) 18.6%,
            rgba(253, 246, 116, 0.98) 39.1%,
            rgb(97, 176, 242) 108.2%);
    font-family: 'EB Garamond', serif;
}

a {
    color: #885df1;
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 30px auto;
    padding: 50px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 15px;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}

.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 15px 18px;
    font-size: 16px;
}

.search-form-button {
    background: blueviolet;
    padding: 15px 18px;
    border: none;
    border-radius: 6px;
    color: white;
    margin-left: 5px;
    font-size: 16px;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;

}

main {
    padding: 30px 0;
}

.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details {
    font-size: 18px;
    color:rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 500;


}

.weather-app-details strong{
    color: #f65282;
}

.weather-app-icon{
    width: 88px;
    height: 88px;
}

.weather-app-temperature-container{
    display: flex;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
    line-height: 88px;
}

.weather-app-unit{
    margin-top: 6px;
    font-size: 28px;

}
    

.weather-forecast-data{
    font-size: 16px;
    opacity: 0.4;
}
.weather-forecast{
    margin-top: 60px;
    text-align: center;
}



footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: (0, 0, 0, 0.6);
    font-weight: bold;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.weather-forecast-date {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.weather-forecast-icon {
    width:78px;
    height: 78px;
    display: block;
    margin: 0 auto;
    
}

.weather-forecast-temperatures {
    text-align: center;
    color: #f65282;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

